/*
@tailwind base;
@tailwind components;
@tailwind utilities;
*/

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    background-color: #85ffbd;
    background-image: linear-gradient(45deg, #85ffbd 0%, #7ddcff 100%);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
