@import url("https://fonts.googleapis.com/css?family=Anton&display=swap");

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.textFieldContainer {
  width: 50%;
  display: flex;
  gap: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.appName {
  color: white;
  font-family: "Anton";
}

.appLogoImageDiv {
  width: 10vw;
  text-align: center;
}

.appLogo {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.signupDiv {
  margin-top: 200px;
}

.signupHeader {
  color: white;
  text-align: center;
}

.joinUsImage {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.joinUsImageDiv {
  width: 60vw;
  text-align: center;
  margin: auto;
}

.donatePartnerButtonsContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  margin-top: 20px;
}

.donatePartnerButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(6, 30, 243, 0.3);
}
